@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    /* ao fazer click muda de cor */
    @apply  text-magenta
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
  }
  
/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #C8FF5D;
/* opacity: 100px; */
border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb:hover{
background: #C8FF5D;
opacity: 10px;
border-radius: 10px;
}